@import url("./colors.css");

@media only screen and (max-width: 440px) {
   #calDiv{
    height: 100%;
    width: 100%;
    border-radius: 0;
   }
    #calculator {
        width: 100vw;
        height: 100vh;
    }
}

*{
   font-family: var(--main-font);
   font-weight: bold;
}

body{
    background-color: var(--dark-color);
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calDiv{
    width: 38%;
    height: 90%;
    background-color: var(--button-numbers);
    filter: blur(7px);
    border-radius: 50px;
    opacity: 0.4;
}

#calculator{
    width: 40%;
    height: 90%;
    position: absolute;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
}

#btnCal{
   left: 0%;
   top: 0;  
}

#btnRec{
    right: 0%;
    top: 0;
}

.buttonCal{
    height:35px ;
    width: 55%;
    border: none;
    border-radius: 20px;
    position: absolute;
    background-color: var(--light-color);
    color: var(--dark-color);
}



.buttonCal:hover{
    cursor: pointer;
}
.buttonCal:hover #buttons{
    box-shadow: 2px 3px 0px 0px var(--dark-color);
}


.clicked{
    z-index: 1;
    background-color: var(--dark-color);
    color: var(--light-color);
}

.clicked:hover{
    cursor: auto;
}






