:root{
    --light-color : #DAF1DE;
    --button-numbers : #BBEEBB;
    --dark-color: #051F20;
    --operation-buttons: #163832;
    --calculator-lines: #0B2B26;
    --calculator-numbers: #163832;

    --main-font: 'Roboto Mono';
}

*{
   font-family: var(--main-font);
   font-weight: bold;
}

body{
    background-color: var(--dark-color);
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


#calDiv{
    width: 38%;
    height: 90%;
    background-color: var(--button-numbers);
    filter: blur(7px);
    border-radius: 50px;
    opacity: 0.4;
}

#calculator{
    width: 40%;
    height: 90%;
    position: absolute;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
}

.buttonCal{
    height:35px ;
    width: 55%;
    border: none;
    border-radius: 20px;
    position: absolute;
    background-color: var(--light-color);
    color: var(--dark-color);
}



.buttonCal:hover{
    cursor: pointer;
}
.buttonCal:hover #buttons{
    box-shadow: 2px 3px 0px 0px var(--dark-color);
}

#btnCal{
   left: 0%;
   top: 0;  
}

#btnRec{
    right: 0%;
    top: 0;
}

.clicked{
    z-index: 1;
    background-color: var(--dark-color);
    color: var(--light-color);
}

.clicked:hover{
    cursor: auto;
}

#calDisplay{
    background-color: var(--light-color);
    height: 30%;
    width: 65%;
    border-radius: 20px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

#calLine{
    width: 70%;
    position: relative;
    top: 40%;
    left: -5%;
    border: 1px solid var(--calculator-lines);
}

#calEq{
    font-size: 50px;
    color: var(--calculator-lines);
}

#bottom{
    position: relative;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 0 20% ;
    padding-left: 15%;
}

#calculation{
    font-size: large;
    color: var(--calculator-numbers);
    opacity: 0.7;
    position: relative;
    top: 40%;
    right: -43%;
    text-align: right;
    width: fit-content;
}

#result{
      font-size: large;
      font-weight: bold;
      color: var(--calculator-numbers);
      font-size: 45px;
}

#unusualBtn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2% 20%;
    height: 6%;
    position: relative;
    top: 45%;
    left: 0;
}

.unusual{
    background-color: var(--operation-buttons);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15%;
    border-radius: 20px;
    border: none;
    color: var(--light-color);
    font-size: large;
}

#numberBtn{
    position: relative;
    height: 32%;
    width: 40%;
    top: 45%;
    left: 20%;
}

.row{
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.number{
    background: rgba(187,238,187,0.4);
    border: none;
    height: 85%;
    width: 28%;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    color: var(--dark-color);
    

}

#nula{
    height: 100%;
    padding: 8%;
    border-radius: 15px;
    width: 65%;
    background-color: var(--calculator-numbers);
    color: rgba(187,238,187,0.4);
    font-size: 15px;
    border: none;
    margin-top: 2%;
    font-size: 20px;

}

#nula:active{
    transform: translateY(4px);
}

#comma{
    padding: 8%;
    margin-left: 2%;
    background-color: #B2C8B6;
}  

#right{
  height: 40%;
    width: 20%;
    position: relative;
    left: 62%;
    top: 14.5%;
    padding-left: 20px;
}

.pandm{
    border: none;
    background-color: var(--light-color);
    color: var(--dark-color) ;
    width: 65%;
    height: 25%;
    margin-bottom: 10%;
    margin-top: 8%;
    border-radius: 15px;
    font-weight: bold;
    font-size: 25px;
}



#equal{
   border: none;
   background-color: var(--dark-color);
   padding: 25px;
   height: 35%;
   border-radius: 15px;
   width: 65%;
   color: var(--light-color);
   font-size: 25px;
}

.button:active{
   transform: translateY(4px);
}

.button:hover{
   cursor: pointer;
}



