@import url("../colors.css");

*{
    box-sizing: border-box;
}

.gridCalculator{
    display: flex;
}

#dots{
    height: 100px;
    width: fit-content;
    z-index: 999;
    position: absolute;
    top: 60%;
    left: 8%;
}

#dots:hover{
    cursor:pointer;
}

.dot{
    color: var(--dark-color);
    line-height: 40%;
    font-size: 80px;
    font-weight: bold;
}




#rightSide{
    height: 100%;
    width: 100%;
    margin-left: 0;
    position: absolute;
    top: 0;
    left: 0;

}

.btnSidebar{
   border: none;
   background-color: var(--operation-buttons);
   padding: 2%;
   display: block;
   border-radius: 10px;
   height: 10%;
   width: 70%;
   margin-bottom: 8%;
   color: var(--light-color);
   font-size: 100%;
   position: relative;
    left: 50%;
    transform: translateX(-50%);

}

.btnSidebar:hover{
    border: 5px solid var(--operation-buttons);
    color: var(--operation-buttons);
    background-color: transparent;
}

.btnSidebar:active{
    transform: translateX(-50%) translateY(4px);
}

#sidebarButtons{
    position: relative;
    top: 15%;
    height: 70%;
}

#sidebarX{
    position: relative;
    left: 20%;
    top: 5%;
}

#sidebarX:hover{
    cursor: pointer;
}

@keyframes showIngSidebar {
    0%{
        font-size: 0;
       width: 10%;
       height: 100%;
       opacity: 0;
    }
    50%{
        opacity: 0.7;
    }100%{
            width: 30%;
        height: 100%;
        font-size: 100%;
    }
}

@keyframes removingSidebar {
    0%{
        width: 30%;
        height: 100%;
        font-size: 100%;
        opacity: 1;
    }

    50%{
        font-size: 0px;
        opacity: 0.7;
    }
    100%{
       width: 0%;
       height: 100%;
       opacity: 0;
    }
}


#leftSide{  
    width: 30%;  
    background-color: var(--light-color);
   border-radius: 50px 0px 0px 50px;
  visibility: hidden;
  
}

.showSidebar{
    visibility: visible !important;
     height: 100%;
    width: 30%;
  animation: showIngSidebar 1s ease-in-out;

}

.removingSidebar{
    animation: removingSidebar 1s ease-in-out;
     font-size: 0px;
        border-radius: 200px 0px 0px 200px;

}





#calDisplay{
    background-color: var(--light-color);
    height: 30%;
    width: 65%;
    border-radius: 20px;
    position: relative;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

#calculatingDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 80%;
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    
}

#visibility{
    visibility: hidden;
    height: 100%;
    width: 100%;
}

#calculating{
    font-size: 220%;
    color: var(--calculator-numbers);
    text-align: center;
}

@keyframes slide {
  0% {
    opacity:1 ;
  }10%{
    top: 0.2%;
    right: 40%;
  }
  25%{
    top: -1%;
    right: 36%;
  }
  50%{
    
    top: -2.5%;
    right: 24%;
    opacity: 0.8;
  }
  75%{
     top: -3.5%;
     right: 18% ;
  }
  100% {
    font-size: large;
    opacity: 0.7;
    top: -5%;
    right: 12%;
    width: fit-content;
    overflow: hidden;
  }
}

.calculatedAnim{
    overflow: hidden;
     position: absolute;
    animation: slide 0.5s ease-in forwards ;
}


#calLine{
    width: 70%;
    position: relative;
    top: 40%;
    left: -5%;
    border: 1px solid var(--calculator-lines);
    visibility: hidden;
}

#calEq{
    font-size:  350%;
    color: var(--calculator-lines);
    visibility: hidden;
}

#bottom{
    position: relative;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 0 20% ;
    padding-left: 15%;
}

#calculation{
    font-size: large;
    color: var(--calculator-numbers);
    opacity: 0.7;
    position: relative;
    top: 40%;
    right: -80%;
    text-align: right;
    width: fit-content;
    transform: translateX(-100%);
    overflow: hidden;
    max-width: 70%;
}

#result{
      font-weight: bold;
      color: var(--calculator-numbers);
      font-size: 300%;
       overflow:auto;
       scrollbar-width: thin;
       scrollbar-color: var(--dark-color) var(--button-numbers);
       margin-left: 10%;
    
}

#unusualBtn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2% 20%;
    height: 6%;
    position: relative;
    top: 15%;
    left: 0;
}

.unusual{
    background-color: var(--operation-buttons);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15%;
    border-radius: 20px;
    border: none;
    color: var(--light-color);
    font-size: large;
}

#numberBtn{
    position: relative;
    height: 32%;
    width: 40%;
    top: 15%;
    left: 22%;
}

.row{
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.number{
    background: rgba(187,238,187,0.4);
    border: none;
    height: 85%;
    width: 28%;
    border-radius: 15px;
    font-size: 120%;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    color: var(--dark-color);
    

}

#nula{
      width: 55%;
    padding: 4%;
    height: 100%;
    border-radius: 15px;
    background-color: var(--calculator-numbers);
    color: rgba(187,238,187,0.4);
    border: none;
    margin-top: 2%;
    font-size: 150%;

}

#nula:active{
    transform: translateY(4px);
}

#comma{
     width: 35%;
    padding: 4%;
    margin-left: 3%;
    background-color: #B2C8B6;
} 

#row4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#right{
  height: 40%;
    width: 20%;
    position: relative;
    left: 60%;
    top: -16%;
    padding-left: 20px;
    display: grid;
    grid-row: auto auto auto;
    row-gap: 4%;
    align-items: center;

}

.pandm{
    border: none;
    background-color: var(--light-color);
    color: var(--dark-color) ;
    width: 65%;
    height: 25%;
    margin-bottom: 10%;
    margin-top: 8%;
    border-radius: 15px;
    font-weight: bold;
    font-size: 150%;
}



#equal{
   border: none;
   background-color: var(--dark-color);
   padding: 25px;
   border-radius: 15px;
   width: 65%;
   color: var(--light-color);
   font-size: 150%;
   height: 100%;
   margin-top: 4%;
    margin: auto;

}

#plus{
    height: 100%;
    margin: auto;
}

#minus{
    height: 100%;
    margin: auto;

}

.button{
    box-shadow: 0px 3px 5px 0px var(--dark-color);
       display: flex;
   align-items: center;
   justify-content: center;
}

.button:active{
   transform: translateY(4px);
}

.button:hover{
   cursor: pointer;
}

.error{
    color: red;
}





