@import url("../colors.css");

#recents{
    height: 80%;
    width: 65%;
    border-radius: 20px;
    position: absolute;
    top: 12%;
    left: 52%;
    transform: translateX(-50%);
    padding-right: 20px;
    overflow-y:hidden;
     scrollbar-color: var(--dark-color) var(--button-numbers);
}

.rec{
    background-color: var(--light-color);
    height: 30%;
    width: 100%;
    margin-top: 5%;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
    position: relative;
    overflow: hidden;

}

.rec:hover{
    cursor: pointer;
     box-shadow: 10px 15px 10px -5px var(--dark-color);
}

.first{
    margin-top: 0;
}

.calculation{
    font-size: large;
    text-align: right;
    width: fit-content;
    position: absolute;
    top: 45%;
    right: 20%;
    transform: translateX(-20%);
    transform: translateY(-45%);
    font-size: 15px;
    opacity: 0.7;   
    color: var(--calculator-numbers);
    overflow: hidden;
    max-width: 70%;
}

.hrLine{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%,-50%);
    color: var(--button-numbers);
    border: 1px solid var(--dark-color);
}

.equal{
   font-size: 50px;
    color: var(--calculator-lines);
    position: absolute;
    left: 20%;
    top: 85%;
    transform: translate(-20%, -85%);
    width: fit-content;
}

.calculated{
    position: absolute;
    top: 85%;
    left: 75%;
    transform: translate(-75%, -85%);
    width: fit-content;
    text-align: right;
    font-size: 40px;
    max-width: 30%;
    overflow: hidden;
}

#xBtn{
    font-size: 15px;
    position: absolute;
    top: 10%;
    right: 10%;
}

#recDiv{
    overflow-y: hidden;
}

#noRecents{
    position: relative;
    top: 50%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: var(--light-color);
    font-size: 150%;
}





